body {
  margin: 0;
  padding: 0;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  position: relative;
}

#box {
  width: 100px;
  height: 100px;
  background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease-in-out; /* Smooth transition */
}

#control-button {
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  cursor: pointer;
}